{% extends "base.html" %}
{% import "include/macros.html" as macros %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Simple</h1>
            <p class="text-center">简单是一种人生态度</p><br>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation"><a href="{{ url_for('auth.login') }}">登录</a></li>
                <li role="presentation" class="active"><a href="{{ url_for('auth.register') }}">注册</a></li>
            </ul>
            <br>
            <form method="post" action="{{ url_for('auth.register') }}">
                {{ form.hidden_tag() }}
                {{ macros.form_item(form.email,placeholder='邮箱') }}
                <br>
                {{ macros.form_item(form.password,placeholder='密码') }}
                <br>
                {{ macros.form_item(form.repeat,placeholder='确认密码') }}
                <br>
                {{ form.submit(class='form-control btn-primary btn-block') }}
            </form>
        </div>
    </div>
{% endblock %}