<ul style="list-style-type:none;padding:0;">
    {% for c in comments %}
        <li style="border-bottom:1px solid #ddd;margin-bottom:15px;">
            {# 评论者信息 #}
            <div>
                {# 头像 #}
                <a href="{{ url_for('main.user',username=c.user.username,option='blog',page=1) }}">
                    <img style="float:left;" class="img-circle" width="40" height="40"
                         src="{{ c.user.gravatar() }}"></a>
                {# 昵称 #}
                <span style="margin-left:10px;font-size:16px;">
                    {{ c.user.username }}
                </span>
                {# 发表时间 #}
                <p style="margin-left:50px;font-size:11px;" class="text-muted">
                    {{ moment(c.timestamp).fromNow() }}
                </p>
            </div>
            {# 评论内容 #}
            <div style="padding-top:5px;font-weight:700;">
                {{ c.body }}
            </div>
            {# 点赞和评论 #}
            <div style="padding:10px 0 10px 5px;">
                <a style="color:#b4b4b4;font-size:13px;" href="#">
                    <i class="glyphicon glyphicon-thumbs-up"></i> 5</a>
                <a style="color:#b4b4b4;font-size:13px;margin-left:10px;" href="#">
                    <i class="glyphicon glyphicon-comment"></i></a>
                {% if c.user==current_user %}
                    <a style="color:#b4b4b4;font-size:13px;float:right;" href="#">
                        <i class="glyphicon glyphicon-remove"></i> 删除</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}

</ul>