{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        @font-face {
            font-family: 'iconfont';  /* project id 467496 */
            src: url('//at.alicdn.com/t/font_467496_5ioqi9o98nn1xlxr.eot');
            src: url('//at.alicdn.com/t/font_467496_5ioqi9o98nn1xlxr.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_467496_5ioqi9o98nn1xlxr.woff') format('woff'),
            url('//at.alicdn.com/t/font_467496_5ioqi9o98nn1xlxr.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_467496_5ioqi9o98nn1xlxr.svg#iconfont') format('svg');
        }

        .icon-gengxin {
            font-family: "iconfont" !important;
            font-size: 13px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.4px;
            -moz-osx-font-smoothing: grayscale;
            margin-top: 20px;
        }

        .title {
            width: 100%;
            height: 100%;
            padding: 15px 20px;
            border: none;
            outline: none;
            font-size: 2rem;
            font-weight: bold;
            overflow: hidden; /*内容会被修剪，并且其余内容是不可见的*/
            text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本*/
            white-space: nowrap; /*不换行*/
            -webkit-appearance: none;
            box-sizing: border-box;
            background-color: white;
        }

        #flask-pagedown-body {
            width: 100%;
            height: 470px;
            padding: 20px;
            margin-bottom: 0;
            border: none;
            outline: none;
            background-color: white;
            display: inline-block;
            resize: none;
            color: #2f2f2f;
            font-size: 18px;
            font-weight: normal;
            line-height: 30px;
            -webkit-appearance: none;
            box-sizing: border-box;
            overflow: auto;
        }

        .flask-pagedown-preview {
            height: 570px;
            padding: 40px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #fcfaf2;
            font-size: 18px;
            font-weight: normal;
            line-height: 30px;
        }

        .toolbar {
            border-top: 1px solid #f4f5f5;
            border-bottom: 1px solid #f4f5f5;
            background-color: #f4f5f5;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# 弹出框 #}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info text-center fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <form id="pform" method="post">
                {# 编辑区 #}
                <div class="col-md-6" style="padding:0;border-right: 1px solid lightgray;">
                    {{ form.hidden_tag() }}
                    {{ form.title(class="title",placeholder="请输入标题") }}
                    {# 工具栏 #}
                    <ul class="nav nav-pills toolbar">
                        <li>
                            <a href="#" data-toggle="tooltip" title="上传图片">
                                <span class="glyphicon glyphicon-picture"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="保存">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.index') }}" data-toggle="tooltip" title="返回首页">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        {% if published is none %}
                            <li class="pull-right">
                                <a onclick="return submit(this)" href="{{ url_for('main.publish_post') }}"
                                   data-toggle="tooltip"
                                   title="发表博客">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </li>
                        {% elif published %}
                            <li class="pull-right">
                                <a onclick="return submit(this)" href="#" data-toggle="tooltip" title="发布更新">
                                    <span class="icon-gengxin">&#xe9bd;</span>
                                </a>
                            </li>
                        {% elif not published %}
                            <li class="pull-right">
                                <a onclick="return submit(this)" href="#" data-toggle="tooltip" title="取消发表">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {{ form.body(only_input=True) }}
                </div>

                {# 预览区 #}
                <div class="col-md-6" style="padding:0;">
                    {{ form.body(only_preview=True) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script>
        // 工具条提示
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });

        //发表和取消博客
        function submit(a) {
            var pform = document.getElementById('pform');
            pform.action = a.href;
            if (pform.elements[0].value && pform.elements[1].value) {
                pform.submit();
            }
            return false
        }
    </script>
{% endblock %}