{% extends "base.html" %}

{% import "include/macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <style>
        .icon-guanxiqunshixin, .icon-fensi {
            font-family: "iconfont" !important;
            font-size: 13px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.4px;
            -moz-osx-font-smoothing: grayscale;
            margin-top: 20px;
        }

        .card {
            margin-bottom: 10px;
        }

        .post-category a {
            display: block;
            padding-top: 10px;
        }
    </style>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-8" style="padding:0;">
            {# 资料 #}
            <div class="card">
                {# 头像 #}
                <img src="{{ user.gravatar() }}" class="img-thumbnail"
                     width="80" height="80" style="float:left">
                {# 昵称 #}
                <div style="padding-left:100px;font-size:21px;font-weight:bold;">
                    {{ user.username }}
                    {# 关注按钮 #}
                    {% if (not current_user.can(Permission.FOLLOW)) or (current_user!=user and not current_user.is_following(user)) %}
                        <a style="margin:0 0 2px 5px;padding:0 5px 0 5px;line-height:normal;border-radius:40px;"
                           href="{{ url_for('main.follow',username=user.username) }}"
                           class="btn btn-xs btn-success">
                            <i class="glyphicon glyphicon-plus"></i> 关注</a>
                    {% elif current_user!=user and current_user.is_following(user) %}
                        <a style="margin:0 0 2px 5px;padding:0 5px 0 5px;line-height:normal;border-radius:40px;"
                           href="{{ url_for('main.unfollow',username=user.username) }}"
                           class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-remove"></i> 取关</a>
                    {% endif %}
                </div>
                {# 信息 #}
                <div style="padding-left:100px;">
                    {# 最近登录 #}
                    <span class="text-muted"
                          style="font-size:12px;">最近登录 {{ moment(user.last_seen).fromNow(refresh=True) }}
                    </span>
                    {# 关注 #}
                    <div style="margin-top:2px;">
                        <a href="#">
                            <span class="label label-default">关注 {{ user.followed.count() }}</span>
                        </a>
                        <a href="#">
                            <span class="label label-default">粉丝 {{ user.followers.count() }}</span>
                        </a>
                        {% if current_user.is_authenticated and user!=current_user and user.is_following(current_user) %}
                            <span class="label label-success">正在关注你</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# 博客动态 #}
            <div class=" card">
                {# 标签栏 #}
                <ul class="nav nav-tabs">
                    <li {% if option=='blog' %} class="active" {% endif %}>
                        <a href="{{ url_for('main.user',username=user.username,option='blog',page=1) }}">
                            <span class="glyphicon glyphicon-book"></span> 博客</a>
                    </li>
                    <li {% if option=='latest' %} class="active" {% endif %}>
                        <a href="#">
                            <span class="glyphicon glyphicon-send"></span> 动态</a>
                    </li>
                    <li {% if option=='hot' %} class="active" {% endif %}>
                        <a href="#">
                            <span class="glyphicon glyphicon-fire"></span> 热门</a>
                    </li>
                    <li {% if option in ['followed','followers'] %} class="dropdown active" {% else %}
                                                                    class="dropdown" {% endif %}>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-guanxiqunshixin">&#xe62c;</span> 关系<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="min-width:100%;">
                            <li {% if option=='followed' %} class="active" {% endif %}>
                                <a href="{{ url_for('main.user',username=user.username,option='followed',page=1) }}">
                                    <span class="glyphicon glyphicon-eye-open"></span> 关注</a>
                            </li>
                            <li {% if option=='followers' %} class="active" {% endif %}>
                                <a href="{{ url_for('main.user',username=user.username,option='followers',page=1) }}">
                                    <span class="icon-fensi">&#xe606;</span> 粉丝</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                {# 内容 #}
                <div>
                    {# 博客 #}
                    {% if option=='blog' %}
                        <div id="blog">
                            {% include 'include/posts.html' %}
                            {% if pagination %}
                                <nav style="text-align:center;">
                                    {{ macros.pagination_widget(pagination,'main.user',username=user.username,option='blog') }}
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {# 动态 #}
                    {% if option=='latest' %}
                        <div id="latest">

                        </div>
                    {% endif %}
                    {# 热门 #}
                    {% if option=='hot' %}
                        <div id="hot">

                        </div>
                    {% endif %}
                    {# 关注 #}
                    {% if option=='followed' %}
                        <div id="followed">
                            {% include 'include/follows.html' %}
                            {% if pagination %}
                                <nav style="text-align:center;">
                                    {{ macros.pagination_widget(pagination,'main.user',username=user.username,option='followed') }}
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {# 粉丝 #}
                    {% if option=='followers' %}
                        <div id="followers">
                            {% include 'include/follows.html' %}
                            {% if pagination %}
                                <nav style="text-align:center;">
                                    {{ macros.pagination_widget(pagination,'main.user',username=user.username,option='followers') }}
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# 侧边栏 #}
        <div class="col-md-4" style="padding:0 0 0 10px;">
            {# 个人介绍 #}
            <div class="card">
                <span class="text-muted">简介</span>
                {# 编辑按钮 #}
                {% if current_user==user %}
                    <a href="#" style="text-decoration:none;float:right;">
                        <span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                {% endif %}
                <div style="padding-top:10px;">
                    {{ user.introduction | default('',True) }}
                </div>
            </div>

            {# 博客分类 #}
            <div class="card post-category">
                <span class="text-muted">博客分类</span>
                <ul style="padding:0;list-style:none;text-align:left;">
                    <li><a href="#">Python <span class="label label-info">5</span></a></li>
                    <li><a href="#">Java <span class="label label-info">15</span></a></li>
                    <li><a href="#">Flask <span class="label label-info">25</span></a></li>
                    <li><a href="#">Spring <span class="label label-info">35</span></a></li>
                    <li><a href="#">C <span class="label label-info">45</span></a></li>
                    <li><a href="#">Golang <span class="label label-info">55</span></a></li>
                    <li><a href="#">Typescript <span class="label label-info">65</span></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}